.chat{ "message-id": "#{message.id}"}
  %ul.date
    %li.date__user-name
      = message.user.name
    %li.date__day
      = message.created_at.to_s
  .date__text
    - if message.content.present?
      %p.date__text__content
        = message.content
    = image_tag message.image.url, class: 'date__text__image' if message.image.present?
